<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd" colors="true" bootstrap="vendor/autoload.php">
  <php>
    <ini name="error_reporting" value="-1"/>
  </php>
  <testsuites>
    <testsuite name="Project Test Suite">
      <directory>tests/</directory>
      <exclude>tests/Form/AbstractRequestHandlerTest.php</exclude>
      <exclude>tests/Form/HttpFoundationRequestHandlerTest.php</exclude>
      <exclude>tests/Form/PsrServerRequestHandlerTest.php</exclude>
      <exclude>tests/PropertyAccessor/DataMapperTest.php</exclude>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory>src</directory>
    </include>
  </source>
</phpunit>
